addons/amxmodx/scripting/grab.sma
addons/amxmodx/plugins/biger_zombie.amxx
addons/amxmodx/scripting/zp_bazooka_new.sma
addons/amxmodx/plugins/biger_zombie.amxx
addons/amxmodx/plugins/biger_zombie.amxx
